.list-stats-link-left {
	float: left;
	padding-left: 7px;
	padding-right: 8px;
	color: var(--text);
}

.list-stats-link-right {
	float: right;
	padding-right: 7px;
	color: var(--text);
}

.invisible {
	visibility: hidden;
}

.title-without-right-menu {
	padding-right: 15px;
}