.row-month {
	display: inline-block;
	width: 120px;
	padding-left: 20px;
	font-size: 20px;
}

.row-link {
	color: var(--tt-brown);
	text-transform: capitalize;
}

.row-sum {
	font-size: 24px;
}

.row-container {
	padding-top: 10px;
}

.row-container {
  animation-duration: 0.5s;
  animation-name: slide-in;
}

@keyframes slide-in {
  from {
    translate: 10vw 0;
    opacity: 0;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

#quota-usage, #quota {
  animation-duration: 2s;
  animation-name: fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opactity: 1;
  }
}