.row-month {
	display: inline-block;
	width: 120px;
	padding-left: 20px;
	font-size: 20px;
}

.row-link {
	color: var(--tt-brown);
	text-transform: capitalize;
}

.row-sum {
	font-size: 24px;
  display: inline-block;
  width: 60px;
}

.row-download {
  cursor: pointer;
  border-bottom: 1px dashed darkgray;
}

.row-container {
	padding-top: 10px;
}

#quota-usage, #quota {
  animation-duration: 2s;
  animation-name: fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opactity: 1;
  }
}