.row-category {
	display: inline-block;
	width: 130px;
	padding-left: 20px;
	font-size: 20px;
	line-height: 24px;
	vertical-align: bottom;
	text-transform: capitalize;
 	text-overflow: ellipsis;
	white-space: nowrap;
  	overflow: hidden;
}

.row-sum {
  	font-size: 24px;
  	display: inline-block;
  	width: 80px;
}

.row-delta {
  	font-size: 24px;
  	display: inline-block;
  	width: 90px;
  	text-align: right;
}

.row-container {
	padding-top: 10px;
}