.comment {
    font-size: 16px;
}

.comment {
    margin: 0 auto;
    display: block;
    background: black;
    border: 1px solid var(--tt-brown);
    color: var(--tt-brown);
    width: 70%;
    height: 150px;
    border-radius: 5px;
    padding: 10px;
}