.comment {
    font-size: 16px;
}

.comment {
    margin: 0 auto;
    display: block;
    background: var(--bg);
    border: 1px solid var(--text);
    color: var(--text);
    width: 70%;
    height: 150px;
    border-radius: 5px;
    padding: 10px;
}