.money-input {
    font-size: 36px;
    max-width: 180px;
    color: var(--text);
    inputmode: decimal;
    display: block;
    margin: auto;
    margin-right: 40px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--text);
    border-radius: 0px;
}

.money-slider-scale {
    float: right;
    margin-right: 40px;
    margin-top: 24px;
    background: rgb(168, 13, 13);
    width: 150px;
    line-height: 24px;
}

.money-slider-main {
    display: block;
    margin: auto;
    margin-right: 40px;
    background: var(--slider); 
    width: 250px;
}

.money-slider-scale-msg {
    float: right;
    color: #af1e1e;
    font-size: 24px;
    margin-right: 20px;
}
