.money-input {
    font-size: 36px;
    max-width: 180px;
    color: var(--tt-brown);
    inputmode: decimal;
    display: block;
    margin: auto;
    margin-right: 40px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--tt-brown);
    border-radius: 0px;
}

.money-slider-scale {
    display: block;
    margin: auto;
    margin-right: 40px;
    background: rgb(168, 13, 13);
    width: 150px;
}

.money-slider-main {
    display: block;
    margin: auto;
    margin-right: 40px;
    background: green; 
    width: 250px;
}

.money-slider-scale-msg {
    color: #af1e1e;
    display: block;
    text-align: center;
    padding-right: 0px;
    font-size: 24px;
    margin-right: 40px;
    text-align: right;
}
