.nav {
    font-size: 24px;
    cursor: pointer;
    float:right;
    margin-top: -38px;
    border: 2px solid;
    border-radius: 50%;
    margin-right: 20px;
    color: rgb(33, 88, 122);
    width: 31px;
    height: 31px;
    line-height: 34px;
    text-align: center;
    background: var(--bg);
}

.nav.nav-close {
    margin-left: 12px;
    float: left;
    background: transparent;
    border: 1px dotted;
}

.nav.nav-money {
    margin-right: 150px;
}

.nav.nav-tag {
    margin-right: 105px;
    color: #357575;
}

.nav.nav-comment {
    margin-right: 60px;
    color: #3138aa;
}

.nav.nav-year {
    margin-right: 15px;
    color: #3b752f;
}