.nav {
    display: inline-block;
    font-size: 26px;
    cursor: pointer;
    border: 2px solid;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 5px;
    color: rgb(33, 88, 122);
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: var(--bg);

}

.nav.nav-close {
    margin-left: 12px;
    background: transparent;
    border: 1px dotted;
    color: rgb(33, 88, 122);
    margin-bottom: 3px;
    font-size: 28px;
    border-radius: 20%;
    line-height: 38px;
}

.nav.nav-money {
    color: rgb(33, 88, 122);
    float: right;
}

.nav.nav-tag {
    float: right;
    color: #357575;
}

.nav.nav-comment {
    float: right;
    color: #3138aa;
}

.nav.nav-year {
    float: right;
    color: #3b752f;
}