.container-popup {
    position:sticky;
    top:auto;
    right:auto;
    left:auto;
    bottom:0px;
    z-index: 100;
}

.container-popup-main {
    box-shadow: 0px 1px 11px var(--shadow) inset;
    border-radius: 30px 30px 0 0;
    background: var(--bg);
    margin-left: 35px;
    height: 250px; 
}

@keyframes show {
    from { bottom: -100px; } 
    to { bottom: 0px; } 
}

.container-popup { 
    animation: show 0.3s;
}