.row-money-euro {
    font-size: 42px;
    min-width: 120px;
    display: inline-block;
    text-align: end;
}

.row-money-cent {
    font-size: 32px;
    margin-left: -5px;
}

.row-tag {
    vertical-align: top;
    font-size: 18px;
    text-transform: capitalize;
}

.row {
    text-align: start;
    border-radius: 10px;
    cursor: pointer;
    padding: 7px 5px 0px 5px;
}

.row.date-row {
    font-size: 16px;
    text-align: end;
    cursor: auto;
}

.row:focus {
    box-shadow: 0px -5px 21px var(--tt-blue) inset;
    outline: none;
}

.row-comment-msg {
    max-width: 92%;
}

.row-comment {
    display: flex;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}

.row {
  animation-duration: 0.2s;
  animation-name: slide-in;
}

@keyframes slide-in {
  from {
    translate: 10vw 0;
    opacity: 0;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}