.tag-input {
    text-align: center;
    margin: auto;
    display: block;
    color: var(--text);
    inputmode: text;
    max-width: 230px;
    padding: 5px;
    padding-top: 3px;
    margin-right: 40px;
    font-size: 32px;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--text);
    border-radius: 0px;
}

.tag-slider-scale-msg {
    display: block;
    margin: auto;
    margin-right: 40px;
    width: 230px;
    color: var(--text);
    font-size: 24px;
    text-align: center;
}

.tag-slider-main {
    display: block;
    margin: auto;
    margin-right: 40px;
    background: var(--slider);
    width: 240px;
}
