.year-wrapper {
    text-align: center;
    padding-top: 50px;
    font-size: 32px;
}

.year-parts {
    color: var(--text);
}

.year-msg {
    color: var(--text);
    font-size: 14px;
}

.year-input {
    text-align: center;
    display: block;
    color: var(--text);
    display: inline-block;
    max-width: 40px;
    font-size: 32px;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--text);
    border-radius: 0px;
}

.year-slider {
    display: block;
    margin: auto;
    background: var(--slider); 
    width: 250px;
}