:root {
    --tt-brown: rgb(186, 116, 37);
    --tt-blue: rgba(35, 173, 278, 1);
}

html {
    background: black;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: clip;
}

body {
    font: 1rem "Fira Sans", sans-serif;
    min-height: 100%;
    padding: 0 8px;
    margin: 0;
    overflow-x: clip;
}

hr {
  border: none;
  border-top: 2px dotted var(--tt-brown);
  color: black;
  background-color: black;
  height: 1px;
  width: 100%;
  margin-bottom: 4px;
}

input[type='range'] {
    height: 2px;
    outline: none;
    -webkit-appearance: none;
}

textarea:focus, input:focus {
    outline: none;
}

#main {
    width: 100%;
    background-color: black;
    color: var(--tt-brown);
    min-height: 100vh;
    overflow-x: clip;
}

.title-sticky {
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: black;
    z-index: 100;
    border-radius: 0 19px;
}

.title {
    z-index: 100;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
}

.title-link {
    color: var(--tt-brown);
}

.container-row {
    padding-bottom: 100px;
}
