:root {
    --tt-brown: rgb(186, 116, 37);
    --tt-blue: rgba(35, 173, 278, 1);
    --tt-black: #494949;
    --tt-silver: silver;
    --tt-white: rgb(249,248,254, 1);
}

html[data-theme="dark"] {
    --text: var(--tt-brown);  
    --bg: black;
    --separator: var(--tt-brown);
    --slider: green;
    --shadow: var(--tt-blue);
}

html[data-theme="light"] {
    --text: var(--tt-black);  
    --bg: var(--tt-white);
    --separator: var(--tt-black);
    --slider: var(--tt-blue);
    --shadow: var(--tt-silver);
}

html {
    background: var(--bg);
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: clip;
}

body {
    font: 1rem "Fira Sans", sans-serif;
    min-height: 100%;
    padding: 0 8px;
    margin: 0;
    overflow-x: clip;
}

hr {
  border: none;
  border-top: 2px dotted var(--separator);
  color: black;
  background-color: var(--bg);
  height: 1px;
  width: 100%;
  margin-bottom: 4px;
}

input[type='range'] {
    height: 2px;
    outline: none;
    -webkit-appearance: none;
}

textarea:focus, input:focus {
    outline: none;
}

#main {
    width: 100%;
    background-color: var(--bg);
    color: var(--text);
    min-height: 100vh;
    overflow-x: clip;
}

/* common styles */

.title-sticky {
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: var(--bg);
    z-index: 100;
}

.title {
    z-index: 100;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
}

.title-link-without-decoration {
    color: var(--text);
    text-decoration-line: none;
}

.title-link {
    color: var(--text);
}

.container-row {
    padding-bottom: 100px;
}

.spacer {
    color: var(--bg);
}

 /* end common styles */
